*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-full-width {
  font-family: 'Epilogue', sans-serif;
}


/* per centrare footer e header */
.centratura1{
  padding: 0 10%;
}

.centratura2 {
  padding: 0 5%;
}

.margin-top{
  margin-top: 3%;
}

/* nav fisso */
#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  background-color: white;
}


/* Header */

/* per nav fisso */
header {
  padding-top: 100px;
}

/* link nav helbiz */

#bottone {
  padding-top: 25px;
  font-size: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Epilogue', sans-serif;
}

#list {
  padding-top: 30px;
  text-align: center;
}

a[href="#listati"] {
  margin: 0 3px;
  font-size: 15px;
}

a[href="#listati-bordo"] {
  border-right: 1px solid black;
  padding: 5px;
}

/* jumbotron */
#jumbo {
  padding-top: 50px;
  height: 400px;
  background-image: url("../img/jumbo.jpg");
  background-size: cover;
  background-position: center;
}

#jumbo-text {
  color: white;
  text-align: center;
  margin: 5% 0;
}

#jumbo-text h5 {
  margin-top: 10px;
}

.jumbo-store {
  margin: 10% 0;
}
a[href="#store"] > img {
  max-width: 100%;
}

/* sezione prodotti */
.prodotti {
  text-align: center;
}

.prodotti span {
  display: block;
  margin: 20px 0;
}

a[href="#prodotti"] {
  display: block;
  color: blue;
}

.prodotti > img {
  max-height: 340px;
}

/* section phone swipe */

.old-phone {
  background-image: url("../img/anziano.jpg");
  height:500px;
  background-position: bottom;
  background-size: cover;
}

/* settaggi immagine iphone sovrapposto al background */
.phone-swipe-center {
  margin-top: 20%;
  height: 100px;
  text-align: center;
}

#phone-sx {
  text-align: center;
  font-size:25px;
  font-weight: bold;
}

#phone-dx {
  text-align: center;
}

/* sezione pubblicità */

/* sezione pubblicità superiore */
#pubblicità-top {
  background-image: url("../img/scooter.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.pubblicità-text {
  padding: 90px;
  color: white;
}

.pubblicità-text p {
  margin: 20px 0;
}

/* sezione pubblicità inferiore */
.pubblicità-bottom {
  text-align: center;
  color: white;
  padding-top: 50px;
}

.left {
    background: linear-gradient(#41566a,#252f38);
    margin-right: 10px;
}

.right {
  background-image: url("../img/city.jpg");
  background-size: cover;
  background-position: center;
  height: 281px;
}

a[href="#pubblicità"] {
  color: white;
}

/* img pubblicità left */
#iphone {
  text-align: center;
}
#iphone > img {
  height: 200px;
}

/* sezione pachwork */

.pachwork{
  background-image: url("../img/pachwork.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
}

#pachwork-text {
  background-color: white;
  margin-top: 70px;
  padding: 30px 0;
  text-align: center;
}

/* footer */
footer {
  background-color: black;
  color: white;
}

.padding-footer {
  padding-top: 50px;
}

/* liste */
a[href="#footer-button"] {
  color: white;
}

a[href="#lista2"] {
  display: block;
  color: white;
}

a[href="#lista3"] {
  color: white;
}

/* media query xs */
@media all and (max-width: 768px) {
  #jumbo-text {
    font-size: 20px;
  }

  .prodotti > img {
    width: 300px;
  }

  .prodotti {
    font-size: 20px;
  }

  .old-phone {
    height: 200px;
  }

  .phone-swipe-center > img {
    width: 200px;
  }

  #phone-sx {
    font-size: 40px;
  }

  #phone-dx {
    font-size: 20px;
  }

  .pubblicità-bottom {
    font-size: 30px;
    padding-top: 10px;
  }

  #pachwork-text {
    font-size: 50px;
  }

  .footer-list {
    margin-top: 20px;
    text-align: center;
  }

  #bottone-footer {
    text-align: center;
  }
  a[href="#footer-button"] {
    font-size: 30px;
  }

  #icons {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }

  .conditions {
    text-align: center;
  }

}


/* media query md */
@media all and (min-width: 769px) and (max-width: 992px) {
  #jumbo-text {
    font-size: 30px;
  }

  .old-phone {
    height: 300px;
  }

  .phone-swipe-center > img {
    width: 200px;
  }


  #phone-sx {
    font-size: 40px;
  }

  #phone-dx {
    font-size: 20px;
  }

  #pachwork-text {
    font-size: 30px;
  }

  .footer-list {
    margin-top: 20px;
    text-align: center;
  }

  #bottone-footer {
    text-align: center;
  }

  #icons {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
  }

  .conditions {
    text-align: center;
  }

}
