*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-full-width {
  font-family: 'Epilogue', sans-serif;
}

/* debug */
[class*="col-"] {
  /* background-color: pink; */
  /* min-height: 100px; */
  /* border: 1px solid black; */
}



/* per centrare footer e header */
.centratura1{
  padding: 0 10%;
}

.centratura2 {
  padding: 0 5%;
}

.margin-top{
  margin-top: 3%;
}

/* nav fisso */
#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
  background-color: white;
}


/* Header */

/* per nav fisso */
header {
  padding-top: 100px;
}

/* link helbiz */

#bottone {
  padding-top: 25px;
  font-size: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Epilogue', sans-serif;
}

#list {
  padding-top: 30px;
  text-align: center;
}

a[href="#listati"] {
  margin: 0 3px;
  font-size: 15px;
}

a[href="#listati-bordo"] {
  border-right: 1px solid black;
  padding: 5px;
}

/* jumbotron */
#jumbo {
  padding-top: 50px;
  min-height: 400px;
  background-image: url("../img/jumbo.jpg");
  background-size: cover;
  background-position: center;
}

#jumbo-text {
  color: white;
  text-align: center;
  margin: 5% 0;
}

#jumbo-text h5 {
  margin-top: 10px;
}

.jumbo-store {
  margin: 10% 0;
}
a[href="#store"] > img {
  max-width: 100%;
}

.prodotti {
  text-align: center;
}

.prodotti span {
  display: block;
  margin: 20px 0;
}

a[href="#prodotti"] {
  display: block;
  color: blue;
}

.prodotti > img {
  max-height: 340px;
}

/* section phone swipe */

#phone-swipe-top  {
  background-image: url("../img/anziano.jpg");
  height:500px;
  background-position: bottom;
  background-size: cover;
}

.phone-swipe-center {
  position: relative;
}


/* sezione pubblicità */

#pubblicità-top {
  background-image: url("../img/scooter.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
}

.pubblicità-text {
  padding: 90px;
  color: white;
}

.pubblicità-text p {
  margin: 20px 0;
}

.pubblicità-bottom {
  text-align: center;
  color: white;
  padding-top: 20px;
}
.left {
    background: linear-gradient(#41566a,#252f38);
}

.right {
  background-image: url("../img/city.jpg");
  background-size: cover;
  background-position: center;
  height: 286px;
}

a[href="#pubblicità"] {
  color: white;
}

#iphone {
  text-align: center;
}
#iphone > img {
  height: 200px;
}

/* sezione pachwork */

.pachwork{
  background-image: url("../img/pachwork.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
}

.pachwork-text {
  background-color: white;
  margin-top: 70px;
  padding: 30px 0;
  text-align: center;
}

/* footer */
footer {
  background-color: black;
  color: white;
}

.padding-footer {
  padding-top: 50px;
}

a[href="#footer-button"] {
  color: white;
}

a[href="#lista2"] {
  display: block;
  color: white;
}

a[href="#lista3"] {
  color: white;

}
