*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif
}
/* debug */
[class*="col-"] {
  /* background-color: pink; */
  /* min-height: 100px; */
  /* border: 1px solid black; */
}

/* per centrare footer e header */
.centratura1{
  padding: 0 10%;
}

.centratura2 {
  padding: 0 5%;
}

.margin-top{
  margin-top: 3%;
}

/* nav fisso */
#nav-large {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 900;
}


/* Header */

/* per nav fisso */
header {
  padding-top: 100px;
}

/* link helbiz */

#bottone {
  padding-top: 25px;
  font-size: 30px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Epilogue', sans-serif;
}

#list {
  padding-top: 30px;
  text-align: center;
}

a[href="#listati"] {
  margin: 0 3px;
  font-size: 15px;
}

a[href="#listati-bordo"] {
  border-right: 1px solid black;
  padding: 5px;
}

/* jumbotron */
#jumbo {
  padding-top: 50px;
  min-height: 400px;
  background-image: url("../img/jumbo.jpg");
  background-size: cover;
  background-position: center;
}

#jumbo-text {
  color: white;
  text-align: center;
  margin: 5% 0;
}

#jumbo-text h5 {
  margin-top: 10px;
}

.jumbo-store {
  margin: 10% 0;
}
a[href="#store"] > img {
  max-width: 100%;
}

.prodotti {
  text-align: center;
}

a[href="#prodotti"] {
  display: block;
  color: blue;
}

.prodotti > img {
  max-height: 340px;
}

/* section phone swipe */

#phone-swipe-top > img {
  max-width: 100%;
}
.phone-swipe > img {
  max-height: 200px;
}


/* sezione pubblicità */

#pubblicità-top > img {
  max-width: 100%;
}


/* sezione pachwork */

.pachwork{
  background-image: url("../img/pachwork.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
}

.pachwork-text {
  background-color: white;
  margin-top: 70px;
  padding: 30px 0;
  text-align: center;
}

/* footer */
footer {
  background-color: black;
  color: white;
}
a[href="#footer-button"] {
  color: white;
}

a[href="#lista2"] {
  display: block;
  color: white;
}

a[href="#lista3"] {
  color: white;
  
}
